body {
    margin: auto;
    max-width: 60em;
    font-family: 'Calibri', 'Calibri', sans-serif;
    background-color: rgb(177, 223, 250);
}
table{
    border:1px solid black;
    width: 100%;    
}
th, td {
    border:1px solid black;
}
