<!DOCTYPE html>
{% if session.user_name %}
<p>Tervetuloa {{ session.user_name }}!</p>
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<p>Et ole kirjautuneena sisään
<form action="/login" method="POST">
<p>Käyttäjätunnus: <input type="text" name="username"> Salasana: <input type="password" name="password"> <input type="submit" value="Kirjaudu">
</form>
<a href="/register">Rekisteröidy</a>
{% endif %}
<title>Forum - etusivu</title>
<h1>Forum</h1>
<p></p>
<h3>Aihealueet</h3>
<p></p>
<ul>
{% for topic in topics %}
<li><a href={{topic.topic}}>{{ topic.topic }}</a>
{% endfor %}
</ul>