<!DOCTYPE html>
<link rel="stylesheet" href="/static/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Forum</title>

{% if session.user_name %}
<p class="logout">Tervetuloa {% if session.user_role > 1 %}<b>ylläpitäjä </b>{% endif %}{{ session.user_name }}! <a href="/logout">Kirjaudu ulos</a> </p>
{% else %}
<form action="/login" method="POST" class="login_form"> Käyttäjätunnus: <input type="text" name="username"> Salasana: <input type="password" name="password"> <input type="submit" value="Kirjaudu"> <a href="/register"> Rekisteröidy</a> </form> 
{% endif %}

<h1>Forum</h1>
<h3>Aihealueet</h3>
	{% for topic in topics %}
	<div class="row">
		<p>Aihe: <a href={{topic.id}} class="t_title">{{ topic.topic }}</a></p>
		<div class="t_info">
		<p>Ketjujen määrä: {{topic.count}}</p>
		{% if topic.max != None %}
		<p>Viimeisin luotu: {{topic.max}}</p>
		{% endif %}
		</div>
		{% if session.user_name and session.user_role > 1 %}
		<form action="/{{topic.id}}/delete"><input type="submit" value="Poista aihealue"/></form>
		{% endif %}
	</div>
	{% endfor %}
{% if session.user_name and session.user_role > 1 %}
<a href="/create_topic">Luo aihealue</a>
{% endif %}
