<!DOCTYPE html>
<link rel="stylesheet" href="/static/main.css">
<title>Vastataan ketjuun - Forum</title>
<a href="/thread/{{info.id}}">Palaa ketjuun</a>
<form action="/thread/{{info.id}}/reply" method="POST" onsubmit="return check(this)">
Viesti: <br>
<textarea name="content"></textarea>
<br>
<input type="submit" value="Lähetä">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

<script>
    function check(form) {
        if (form.content.value.length > 5000) {
            alert("Viesti on liian pitkä (max. 5000 merkkiä)!");
            return false;
        }
        if (form.content.value.length < 1) {
            alert("Viesti on liian lyhyt (min. 1 merkki)!");
            return false;
        }
        return true;
    }
</script>