<!DOCTYPE html>
<link rel="stylesheet" href="/static/main.css">
<title>Ketjut - Forum</title>
<a href="/">Palaa etusivulle</a>
<h1>Ketjut</h1>
{% if session.user_name %}
<a href="/{{topic}}/create_thread">Luo ketju</a>
{% endif %}
<table>
<thead>
<tr>
<th>Otsikko</th>
<th>Viestien määrä</th>
<th>Viimeisin viesti</th>
</tr>
</thead>
<tbody>
{% for thread in threads %}
<tr>
<td><a href=/thread/{{thread.id}}>{{ thread.threadname }}</a></td>
<td>{{thread.count}}</td>
<td>{{thread.max}}</td>
</tr>
{% endfor %}
</tbody>
</table>