<!DOCTYPE html>
<link rel="stylesheet" href="/static/main.css">
<title>Ketjut - Forum</title>

<a href="/">Palaa etusivulle</a>
<h1>Ketjut</h1>

{% if session.user_name %}
<a href="/{{topic}}/create_thread">Luo ketju</a>
{% endif %}

{% for thread in threads %}
<div class="row">
    <p>Otsikko: <a href=/thread/{{thread.id}} class="t_title">{{ thread.threadname }}</a></p>
    <div class="t_info">
        <p>Viestien määrä: {{thread.sum}}</p>
        {% if thread.sum != 0 %}
        <p>Viimeisin lähetetty: {{thread.max}}</p>
        {% endif %}
    </div>
</div>
{% endfor %}
